<div class="panel panel-primary">
  <div class="panel-heading">
    {{productListTitle}}
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2">
        Filter By
      </div>
      <div class="col-md-4">
        <input type="text" [(ngModel)]="listFilter" placeholder="Product Name" />
        <input type="text" [(ngModel)]="codeFilter" placeholder="Product Code" />
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h5><span>Filtered By : {{listFilter}}</span>
        <span>Code Filtered By : {{codeFilter}}</span></h5>
      </div>
      <div class="col=md-6">
        
        <button class="btn btn-primary" (click)="toggleGridView()">{{showGridView?"Show List View":"Show Grid View"}}</button>
        <span class="ratingHover">{{ratingOnHover}}</span>
      </div>
    </div>
<div class="table responsive" *ngIf ="products && products.length" id="list-view">
      <table class="table">
        <thead>
        <tr *ngIf="!showGridView">
          <th><button class="btn btn-success" (click)="toggleImgDisp()">{{showImage?"Hide Image":"Show Image"}}</button></th>
          <th>Product</th>
          <th>Code</th>
          <th>Available</th>
          <th>Price</th>
          <th>Star Rating</th>
        </tr>
        </thead>
        <tbody>
        <tr class={{gridRowClass}} *ngFor='let product of products | ProductFilter:listFilter | FilterByCode :codeFilter' >
          <td><img *ngIf="showImage" [src]="product.imageUrl" [width]="imageWidth"></td>
          <td>{{product.productName }}</td>
          <td>{{product.productCode | lowercase}}</td>
          <td>{{product.releaseDate | date : 'dd-MMM-yyyy'}}</td>
          <td>{{product.price}}</td>
          <td><app-star [rating]="product.starRating" (ratingToDisp)="dispRating($event)"></app-star></td>
        </tr>
        </tbody>
      </table>
    </div>
  
 </div>

</div>
